@page "/game"

@inject NavigationManager _nav

<PageTitle>minswep</PageTitle>

<div class="flex items-baseline gap-2 p-2 mx-10">
    <a class="px-3 py-1 text-gray-100 rounded shadow bg-lime-600 hover:bg-lime-500" disabled>Reset</a>
    <button class="px-3 py-1 text-gray-100 rounded shadow bg-lime-600 hover:bg-lime-500"
        @onclick=GenerateNewPlayfield>Generate</button>

    <span class="grow"></span>
    <span>@minecount / @Mines 💣</span>
    <span>Timer ⏱️</span>
    <span class="grow"></span>

    @foreach (var item in gamemodes)
    {
        <a class="px-3 py-1 text-gray-100 rounded shadow bg-lime-600 hover:bg-lime-500" href="@item.Value">@item.Key</a>
    }
</div>

@if (playfield != null)
{
    <div class="w-full max-w-full flex justify-center overflow-x-auto p-1">

        <div class="grid max-w-fit gap-1 p-3 bg-gray-100 rounded shadow dark:bg-gray-800 outline outline-1 outline-black/5"
        style="grid-template-columns: repeat(@Width, fit-content(4em));">
            @for (int row = 0; row < Height; row++)
            {
                @for (int column = 0; column < Width; column++)
                {
                    var fx = column;
                    var fy = row;
                    <button
            class="w-8 h-8 transition-transform rounded min-h-fit min-w-fit bg-gray-50 dark:bg-gray-700 hover:scale-105 transform-gpu"
            @onclick="@(() => ToggleMine(fx, fy))">
                        @if (playfield[column, row])
                        {
                            <span> 💣 </span>
                        }
                        else
                        {
                            <span> @GetNeighbouringMineCount(fx,fy) </span>
                        }
                    </button>
                }
            }
        </div>
    </div>
}