@page "/game"

@inject NavigationManager _nav

<PageTitle>minswep</PageTitle>

<div class="flex gap-2 items-baseline p-2 mx-10">
    <a class="shadow rounded px-3 py-1 bg-lime-600 text-gray-100 hover:bg-lime-500" disabled>Reset</a>
    <button class="shadow rounded px-3 py-1 bg-lime-600 text-gray-100 hover:bg-lime-500" @onclick=GenerateNewPlayfield>Generate</button>

    <span class="grow"></span>
    <span>@minecount / @Mines 💣</span>
    <span>Timer ⏱️</span>
    <span class="grow"></span>

    @foreach (var item in gamemodes)
    {
        <a class="shadow rounded px-3 py-1 bg-lime-600 text-gray-100 hover:bg-lime-500" href="@item.Value">@item.Key</a>
    }
</div>

@if (playfield != null)
{

    <div class="grid gap-1 mx-auto max-w-fit p-3 shadow bg-gray-100 rounded"
    style="grid-template-columns: repeat(@Width, minmax(0, 1fr));">
        @for (int row = 0; row < Height; row++)
        {
            @for (int column = 0; column < Width; column++)
            {
                var fx = column;
                var fy = row;
                <button class="w-8 h-8 bg-red-100" @onclick="@(() => ToggleMine(fx, fy))">
                    @if (playfield[column, row])
                    {
                        <span> 💣 </span>
                    }
                    else
                    {
                        <span> @GetNeighbouringMineCount(fx,fy) </span>
                    }
                </button>
            }
        }
    </div>
}