@inject IJSRuntime JS

<h2 class="px-3 text-sm font-thin text-neutral-400 dark:text-neutral-600">theme</h2>
<button
    class="px-3 py-1 text-left hover:bg-neutral-100 dark:hover:bg-neutral-800"
    @onclick="@(async ()=>await SetOsMode())">system</button>
<button
    class="px-3 py-1 text-left hover:bg-neutral-100 dark:hover:bg-neutral-800"
    @onclick="@(async ()=>await SetDarkMode())">light</button>
<button
    class="px-3 py-1 text-left hover:bg-neutral-100 dark:hover:bg-neutral-800"
    @onclick="@(async ()=>await SetLightMode())">dark</button>

@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Shared/DarkToggle.razor.js");
    }

    private async ValueTask<string?> SetDarkMode()
    => module is not null ? await module.InvokeAsync<string>("themeSetDarkMode") : null;
    private async ValueTask<string?> SetLightMode()
    => module is not null ? await module.InvokeAsync<string>("themeSetLightMode") : null;
    private async ValueTask<string?> SetOsMode()
    => module is not null ? await module.InvokeAsync<string>("themeSetOsMode") : null;
}
