@inherits LayoutComponentBase
<DarkToggle />

@Body

<div class="text-center mx-auto my-8 text-gray-400 text-xs">
    @ThisAssembly.AssemblyName - @ThisAssembly.AssemblyInformationalVersion
</div>

<UpdateAvailableNotifier />