@inherits LayoutComponentBase
<DarkToggle />

@Body

<div class="text-center mx-auto my-8 text-neutral-400 text-xs">
    @ThisAssembly.AssemblyName - @ThisAssembly.AssemblyFileVersion
</div>

<UpdateAvailableNotifier />