@inherits LayoutComponentBase

<div class="flex absolute inset-0">

    <NavMenu></NavMenu>

    <div class="grow overflow-auto h-full w-full">
        @Body
    </div>

</div>

<UpdateAvailableNotifier />